.experienceWrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .performanceTitle {
        width: 100%;
        height: 3rem;
        text-align: center;

        & ruby {
            font-size: 2rem;
            color: #fefefe;

            & rt {
                font-size: 1rem;
                text-align: left;
            }
        }
    }

    .experienceContents {
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;

        & h4 {
            font-size: 3rem;
            color: #fefefe;
        }

        & p {
            width: 30rem;
            font-size: 2rem;
            color: #fefefe;
        }
    }
}